<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>

  <body>
    <h1>Welcome to My Online Store</h1>
    <!-- Subtitle -->
    <h2>Don't miss out! Our prices are awesome!</h2>
    <br />
    <div class="column">
      <div class="row">
        <div class="column">
          <!-- Form for handling user data -->
          <form class="form" action="/reset" method="POST" reset>
            <!-- Thank you message for shopping -->
            <h2>Thank you for shopping with us!</h2>
            <!-- Table for displaying user information -->
            <table>
              <!-- Rows for user details -->
              <tr>
                <th>Name</th>
                <td id="nameData"><%= customer.name %></td>
              </tr>
              <tr>
                <th>Email</th>
                <td id="emailData"><%= customer.email %></td>
              </tr>
              <tr>
                <th>Phone Number</th>
                <td id="phoneNumberData"><%= customer.phoneNumber %></td>
              </tr>
              <tr>
                <th>Address</th>
                <td id="addressData"><%= customer.deliveryAddress %></td>
              </tr>
            </table>
            <!-- Table for displaying purchased items -->
            <table>
              <br />
              <thead>
                <!-- Table header for items -->
                <tr>
                  <th>Item</th>
                  <th>Quantity</th>
                  <th>Unit Price</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
                <!-- Rows for individual items and their quantities -->
                <tr>
                  <td>Pens</td>
                  <td><%= customer.pensQuantity || 0 %></td>
                  <td>$5.00</td>
                  <td>$<%= customer.pensTotal || 0 %></td>
                </tr>
                <tr>
                  <td>Candy</td>
                  <td><%= customer.candyQuantity || 0 %></td>
                  <td>$10.00</td>
                  <td>$<%= customer.candyTotal || 0 %></td>
                </tr>
                <tr>
                  <td>Cupcake</td>
                  <td><%= customer.cupcakeQuantity || 0 %></td>
                  <td>$5.00</td>
                  <td>$<%= customer.cupcakeTotal || 0 %></td>
                </tr>
              </tbody>
            </table>
            <br /><br />
            <!-- Table for displaying total amounts and tax information -->
            <table>
                <!-- Rows for total amounts and tax information -->
                <tr>
                  <th>Shipping Charges</th>
                  <td id="shippingCharges">$20</td>
                </tr>
                <tr>
                  <th>Total Amount (before tax)</th>
                  <td id="totalAmount">$<%= customer.subTotal %></td>
                </tr>
              <tr>
                <th>Tax Amount</th>
                <td id="tax">$<%= customer.tax %></td>
              </tr>
              <tr>
                <th>Total Amount (after tax)</th>
                <td id="totalTaxAmount">$<%= customer.total %></td>
              </tr>
            </table>
            <!-- Additional space for better formatting -->
            <br ><br >
            <!-- Reset button to clear the form -->
            <button type="button" name="checkout">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
